body, html {
	font-family: Roboto;
	background-color: #7ddfe0;
}

/*body {
	background-image: url('/images/bg.jpg') no-repeat;
	background-size: cover;
	min-height: 2000px;
}*/

h1 {
	font-size: 30px;
	font-family: Genome;
}

#index-banner {
	text-align: center;
	padding-top: 5%;
}

#header-logo {
	width: 200px;
	height: auto;
	margin-top: 50px;
}

#index-banner .container {
	padding-right: 5%;
}

.app-btn {
	width: 70%;
	height: auto;
}

.apple-btn, .apple-btn:link, .apple-btn:visited {
	opacity: 1;
	-webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        transition: opacity .2s linear;
}

.apple-btn:hover {
	opacity: 0.8;
	cursor: pointer;
	-webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        transition: opacity .2s linear;
}

.get-app-container {
	margin-top: 70px;
}

.get-app-container .col {
	padding: 5px;
}

.header-text {
	position: relative;
	right: 5%;
}


#iphone {
	background: url('/images/iphone6.png') no-repeat center center;
	height: 800px;
	width: 410px;
}

video {
	padding: 0px 10px 10px 25px;
		position: relative;
		top: 95px;
		right: 8px;
}

@media (max-width: 992px){
	.section {
		margin-left: 10%;
		text-align: center;
	}
	/*#iphone {
		margin-left: 7%;
	}*/
}

@media only screen and (max-width: 667px){

	.section {
		text-align: center;
		margin: 0 auto;

	}


	#index-banner .container {
		padding-right: 0%;
	}

	#iphone {
		margin: 0 auto;
		margin-left: -25vw;
	}

	video {

	}
}



.footer-link, .footer-link:link, .footer-link:visited {
	color: #fff;
	opacity: 1;
}

.footer-link:hover {
	opacity: 0.8;
	cursor: pointer;
	-webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        transition: opacity .2s linear;
}

.social-icon {
	font-size: 45px;
	padding: 5px 15px;
}

.connect-section p {
	position: relative;
	left: 27%;
	text-align: center;
}