body, html {
	font-family: Roboto;
	background-color: #7ddfe0;
}

/*body {
	background-image: url('/images/bg.jpg') no-repeat;
	background-size: cover;
	min-height: 2000px;
}*/

h1 {
	font-size: 30px;
	font-family: Genome;
}

#index-banner {
	text-align: center;
	padding-top: 5%;
}

#header-logo {
	width: 200px;
	height: auto;
	margin-top: 50px;
}

#index-banner .container {
}

.get-app-container {
	margin-top: 70px;
}

.get-app-container .col {
	padding: 5px;
}

.btn-large {
	height: 70px;
	width: 300px;
	font-size: 14px;
	line-height: 22px;
	border: 1px white solid;
	background-color: transparent;
	margin-bottom: 20px;
}

.btn-large:link, .btn-large:visited {
	background-color: transparent;
	color: #fff;
}

.btn-large:hover {
	background-color: #fff;
	color: #7ddfe0;
	-webkit-transition: background-color .2s linear;
        -moz-transition: background-color .2s linear;
        transition: background-color .2s linear;
}

.btn-content {
	position: relative;
	top: 22px;
}

.fa-android, .fa-apple {
	position: relative;
	top: 2px;
}


.video-phone {
	background: url("/images/flatphone_white.png") no-repeat 0 0;
	width: 324px;
	height: 689px;
	padding: 100px 21px 95px 25px;
	display: inline-block;
	position: relative;
}

.video-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}

.text-left {
	text-align: left;
}

video {
	height: 97.5%;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50.5%);
	-ms-transform: translateX(-50.5%);
	transform: translateX(-50.5%);
}

.video-phone {
	background: url("/images/flatphone_white.png") no-repeat 0 0;
	width: 324px;
	height: 689px;
	padding: 100px 21px 95px 25px;
	display: inline-block;
	position: relative;
}


@media (min-width: 668px){

	 .carousel-col {
	/*	padding-left: 60px;
	*/	position: relative;
		left: 60px;
	}
}


.footer-link, .footer-link:link, .footer-link:visited {
	color: #fff;
	opacity: 1;
}

.footer-link:hover {
	opacity: 0.8;
	cursor: pointer;
	-webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        transition: opacity .2s linear;
}

.social-icon {
	font-size: 45px;
	padding: 5px 15px;
}

.connect-section p {
	position: relative;
	text-align: center;
}

.links-section h5, .links-section ul {
	padding-left: 30px;
}


/* iphone 5 */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {

	.carousel-col {
		position: relative;
		left: -21.7% !important;
		padding-left: 0;
		margin-left: 0;
	}

	.section, .container-fluid {
		width: 320px;
	}

	.get-app-container {
		padding-left: 0;
		padding-right: 0;
	}

	.btn-large {
		width: 250px;
		position: relative;
		right: 10px;
		padding-left: 0;
		padding-right: 0;
	}

	.btn-container {
		width: 315px;
	}

	.page-footer, footer {
		width: 321px;
	}

	.video-phone {
		width: 320px;
		position: relative;
		right: 2px;
	}

	.links-section h5, .links-section ul {
		padding-left: 0;
	}

	.footer-copyright {
		min-height: 100px;
	}

	.jenny-link {
		position: relative;
		left: -10px;
	}

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {

	.carousel-col {
		position: relative;
		left: 10% !important;
		padding-left: 0;
		margin-left: 0;
	}

	.links-section h5, .links-section ul {
		padding-left: 0;
	}

}

/* iphone 6 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
	
	#index-banner {
		padding-left: 8%;
		padding-top: 7%;
	}

	.page-footer {
		width: 375px;
	}

	.header-text {
		position: relative;
		left: 5px;
	}

	#header-logo {
		margin-left: 10px;
	}

	.jenny-link {
		position: relative;
		left: -50px;
	}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {

	#index-banner {
		padding-left: 0;
		margin-left: 0;
	}

	.header-text {
		position: relative;
		left: -12%;
	}

	.carousel-col {
		position: relative;
		left: -13% !important;
		padding-left: 0;
		margin-left: 0;
	}

	#header-logo {
		width: 50%;
	}

	.btn-container .btn-large {
		width: 70%;
	}

	.btn-content {
		position: relative;
		top: 10px;
		left: 5px;
	}

	.btn-content i {
		position: relative;
		top: 10px;
		left: -5px;
	}

	footer .row {
		margin-top: 10px;
		padding-left: 20px;
	}

	footer .row .col.m4 {
		width: 50%;
	}

	.connect-section {
		position: relative;
		left: -10px;
		top: 120px;
	}

	.social-icon {
		font-size: 40px;
		padding: 5px 5px;
	}

	.links-section {
		position: relative;
		top: -80px;
		left: 40px;
	}

}

/* ipad mini */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {

	#index-banner {
		padding-top: 10%;
	}

	.header-text {
		position: relative;
		right: 55px;
	}

	#header-logo {
		position: relative;
		bottom: 10px;
	}

	.carousel-col {
		position: relative;
		left: -8% !important;
		padding-left: 0;
		margin-left: 0;
	}

	.page-footer .row {
		margin-top: 20px;
		margin-left: 10px;
	}

	footer .row .col.m4 {
		width: 40%;
	}

	footer p, footer a {
		font-size: 20px;
	}

	footer h5 {
		font-size: 30px;
	}

	.social-icon {
		font-size: 40px;
		padding: 5px 10px;
	}

	.links-section h5, .links-section ul {
		margin-left: 50%;
	}

	.links-section {
		position: relative;
		bottom: 90px;
	}

	.connect-section {
		position: relative;
		top: 135px;
		left: 105px;
	}

	.footer-copyright, .jenny-link a {
		font-size: 18px;
	}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {

	#index-banner {
		position: relative;
		left: -5%;
		padding-top: 7%;
	}

}