<template name="Footer">
  <footer class="page-footer teal lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contact Us</h5>
                <p class="grey-text text-lighten-4">
                	<strong>Phone</strong><br>
                	1.1347.480.8621
                </p>
                <p class="grey-text text-lighten-4">
                	<strong>Email</strong><br>
                	<a class="footer-link" href="mailto:mogeeapp@phronesistechne.com">mogeeapp@phronesistechne.com</a> <!-- mailto -->
                </p>
                <p>
                  <a class="footer-link" href="https://www.facebook.com/MogeeApp">
                    <i class="social-icon fa fa-facebook-square"></i>
                  </a>
                  <a class="footer-link" href="https://twitter.com/mogeeApp">
                    <i class="social-icon fa fa-twitter-square"></i>
                  </a>
                  <a class="footer-link" href="https://instagram.com/mogeeapp/">
                    <i class="social-icon fa fa-instagram"></i>
                  </a>
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3 footer-link" href="http://www.phronesistechne.com/">Company</a></li>
                  <li><a class="grey-text text-lighten-3 footer-link" href="#!">FAQ</a></li>
                  <li><a class="grey-text text-lighten-3 footer-link" href="#!">Support</a></li>
                  <li><a class="grey-text text-lighten-3 footer-link" href="https://docs.google.com/forms/d/1BxjKUtqrlF_9cjHkabL_Dew9jQXdq0ZefO2edYlX3CM/viewform?c=0&w=1">Internship</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Mogee is a product of Phronesis Techne, LLC.
	            <span class="grey-text text-lighten-4 right">
	            	Website by <a class="white-text footer-link" href="http://yoonjaekim.meteor.com">Yoon Jae (Jenny) Kim</a>
	            </span> <!-- CHANGE LINK COLOR -->
            </div>
          </div>
        </footer>
</template>