<template name="Footer">
  <footer class="page-footer teal lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contact Us</h5>
                <p class="grey-text text-lighten-4">
                	<strong>Phone</strong><br>
                	1.1347.480.8621
                </p>
                <p class="grey-text text-lighten-4">
                	<strong>Email</strong><br>
                	mogeeapp@phronesistechne.com <!-- mailto -->
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Company</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Support</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Internship</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Mogee is a product of Phronesis Techne, LLC.
	            <span class="grey-text text-lighten-4 right">
	            	Website by <a class="white-text" href="http://yoonjaekim.meteor.com">Yoon Jae (Jenny) Kim</a>
	            </span> <!-- CHANGE LINK COLOR -->
            </div>
          </div>
        </footer>
</template>