<template name="Main">
	<div class="container-fluid wrapper">
	  {{> Intro}}
      {{> Footer}}
	</div>


</template>


<template name="Intro">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <div class="header-text col s12 m7">
            <img src="/images/logo_full.png" id="header-logo">

            <div class="row center get-app-container">
                <div class="col s12 m12 l6">
                    <img src="/images/app3.png" class="app-btn apple-btn">
                </div>
                <div class="col s12 m12 l6">
                    <img src="/images/android2.png" class="app-btn android-btn">
                </div>
            </div>
        </div>
        <div class="col s12 m5 carousel-col text-left">
           <div class="video-phone">
            <div class="video-wrap">
              {{>Video}}
            </div>
          </div>
        </div>
        <!-- <div class="phone-mask">
          <img src="/images/flatphone_white.png">
        </div> -->
      </div>
      <br><br>

    </div>
  </div>

</template>

<template name="About">
  <div class="section" id="about">

      <div class="row">
      </div>

    </div>
</template>

<template name="Contact">
  <div class="section #contact">

      <div class="row">
        
      </div>

    </div>
</template>

<template name="Preloader">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</template>

